h2 {
    font-weight: 500;
  }
  p {
    font-size: 1.1em;
  }
  .txt-white {
              color: #fff!important;
          }
          body {
              font-size: 16px;
              font-family: 'DM Sans', sans-serif;
background-color: white;            
  background-repeat: no-repeat;
              background-size: cover;
          }
          #chatbot {
              border-radius: 20px;
              max-width: 416px;
              background: linear-gradient(to bottom, #F97413 0%, #FF5C00 50%, #FCFCFC 50%, #FCFCFC 100%);
            
              position: absolute;
              bottom: 1rem;
              right: 1rem;
              padding: 1.25rem 1rem;
              box-shadow: 0 0 10px 2px #0000001f;
          }
          .bot-head {
              padding-bottom: 1.5rem;
              padding-left: 1.5rem;
          }
          .bot-body {
              border: 1px solid #E1E1E1;
              position: relative;
              background-color: #FDFDFD;
              border-radius: 10px;
              padding: 1rem;
              padding-top: 2.5rem;
          }
          .bot-cta {
              background-color: transparent;
              border: 1px solid #E1E1E1;
              border-radius: 5px;
              text-align: left;
              width: 100%;
              margin: .25rem auto;
              padding: .65rem .5rem; 
              font-size: 0.85em;
              box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
              border-radius: 8px;
          }
          .bot-cta::before {
              content: '';
             
              border: 3px solid rgb(255, 118, 0);
              background-color: #F97413;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              display: inline-block;
              margin-right: 10px;
  
              background: black;
              background-color: #F97413;
      border-radius: 50%;
      box-shadow: 0 0 0 0 #f9731388;
     
      transform: scale(1);
      animation: pulse-black 2s infinite;
          }
          .bot-cta-main::before {
              background: transparent;
              border: none;
              background-image: none;
            transform: none;
      animation:none;
          }
          .bot-cta-main {
              display: flex;
              justify-content: space-evenly;
              align-items: center; 
              margin: 1rem auto 0;
              max-width: 85%; 
              padding-right: 40px;
              border-radius: 25px;    
              box-shadow: 0 6px 8px -3px #0000001f;            
          }
          .bot-logo {
              position: absolute;
         
              height: 50px;
              width: 50px;
              text-align: center;
              border-radius: 50%;
    
              top: -7%; 
          }
          .bot-logo svg {
              background: aquamarine;
              background-color: #F97413;
          margin: 0;
          padding: 0.5rem;
          border-radius: 50%;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          }
          @keyframes pulse-black {
              0% {
                  transform: scale(0.90);
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
              }
              
              70% {
                  transform: scale(0.95);
                  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
              }
              
              100% {
                  transform: scale(0.90);
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              }
          }
  
          #chatbot-cta svg {
              bottom: 0.85rem;
              right: 0.85rem;
              position: absolute;
              cursor: pointer;
              border-radius: 50%;
              background-color: #FF7600;
              padding: 10px;
          }
          #chatbot {
              display: none;
          }
          .bot-close {
              position: absolute;
              right: -0.5rem;
              top: -0.5rem;
              background-color: rgb(0 0 0 / 43%);
              padding: 5px 8px;
              border-radius: 50%;
              cursor: pointer;
          }